<div id="wrapper">
	<!--
    <div class="col-lg-2 col-sm-3 sidebar">
        <div class="text-center eva-dash-logo">
            <img src="images/eva-logo.png"/>

            <img src={{user.avatar}} class="user-avatar">
            <h2>Welcome <small>{{user.firstname}}</small></h2>
        </div>
        <ul class="nav nav-sidebar">
            <li><a>Overview</a></li>
            <li><a>Challenges</a></li>
            <li><a>Admin tools</a></li>
        </ul>
    </div>
    -->


	<!-- CONTENT STARTS HERE -->
    <div id="main">
        <!-- PROGRESSBAR -->
        <div id="progressbar">
            <div>
                <h3>{{translation.getCurrentlySelected().progress}}</h3>

                <div>
                    <!-- Outer Progressbar-->
                    <div id="innerbar">
                        <!-- Inner Progressbar-->
                    </div>
                </div>
            </div>
        </div>
		<!-- CHALLENGES -->
		<div class="banner">
			<h3 class="challenge-title">{{translation.getCurrentlySelected().challenges_completed}}</h3>
			<div id="challenges">
				<article class="challenge box-border" ng-repeat="challenge in challenges track by $index" ng-click="showSelectedChallengeDetails($index)"
				data-toggle="modal" data-target="#myModal">
					<div ng-style="{'background-image':'url(' + challenge.imageUrl + ')', 'background-size': 'cover'}">
						<p>{{challenge.title}}</p>
					</div>
				</article>
                <div ng-show="challenges.length == 0" style="text-align: center;">

                    {{translation.getCurrentlySelected().challenge_none_completed}}
                    <br>

                    <img src="../app/images/resources/sadsmiley.png" style="margin-top:20px;"/>

                </div>
			</div>
			<div class="challenges">
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
                                <a class="btnz share facebook" href="#" ng-click="sharecomp(detailedChallenge, 3)"><i class="fa fa-facebook"></i> Share</a>
                                <br />
								<div class="modalImage" style="text-align: center;" ng-style="{'background-image':'url(' + detailedChallenge.imageUrl + ')'}">
									<h2 class="modalText" style="padding-top: 100px; color: #fff; text-shadow: 0px 0px 4px #000;">{{detailedChallenge.title}}</h2>
								</div>
								<div style="margin-top: 10px;" ng-bind-html="detailedChallenge.description"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>