<div id="wrapper">
    <div id="nav">
        <div class="user-info">
            <h1>Eva</h1>
            <img src="{{user.avatar}}" class="user-avatar">
            <h2>Welcome <small>{{user.firstname}}</small></h2>
        </div>
        <nav>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#" class="active">Challenges</a></li>
                <li><a href="#">Admin tools</a></li>
            </ul>
        </nav>
    </div>

    <!-- CONTENT STARTS HERE -->
    <div id="main">
        <!-- PROGRESSBAR -->
        <div id="progressbar">
            <div>
                <h3>Progress</h3>
                <div> <!-- Outer Progressbar-->
                    <div><!-- Inner Progressbar-->
                    </div>
                </div>
            </div>
        </div>

        <!-- CHALLENGES -->
        <div class="achievements">
            <h4>All Achievements</h4>
            <div class="achievement-box">

                <!-- Challenge 1 -->
                <div class="achievement">
                    <div class="badge badge-easy"></div>
                    <div class="achievement-image temp-pompoensoep">
                        <h5>Achievement title</h5>
                        <p>Achievement description that is waay to long to see what happens on big descriptions</p>
                    </div>
                </div>

                <!-- Challenge 2 -->
                <div class="achievement">
                    <div class="badge badge-easy"></div>
                    <div class="achievement-image temp-pompoensoep">
                        <h5>Achievement title</h5>
                        <p>Achievement description that is waay to long to see what happens on big descriptions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
