<div id="wrapper">
    <div id="nav">
        <div class="user-info">
            <h1>Eva</h1>
            <img src="{{user.avatar}}" class="user-avatar">
            <h2>Welcome <small>{{user.firstname}}</small></h2>
        </div>
        <nav>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#" class="active">Challenges</a></li>
                <li><a href="#">Admin tools</a></li>
            </ul>
        </nav>
    </div>

    <!-- CONTENT STARTS HERE -->
    <div id="main">
        <!-- PROGRESSBAR -->
        <div id="progressbar">
            <div>
                <h3>Progress</h3>
                <div> <!-- Outer Progressbar-->
                    <div><!-- Inner Progressbar-->
                    </div>
                </div>
            </div>
        </div>

        <!-- CHALLENGES -->
        <div class="banner">
            <h3 class="challenge-title">Geslaagde challenges:</h3>
            <div id="challenges">
                <article class="challenge">
                    <div class="pompoensoep">
                        <p>Maak een soepje klaar met een veel te lange titel om te kijken wat er juist gebeurt.</p>
                    </div>
                </article>
                <article class="challenge">
                    <div class="knolselder">
                        <p>Maak nog een ander soepje klaar</p>
                    </div>
                </article>
                <article class="challenge">
                    <div class="pompoenstoof">
                        <p>Ga eens op restaurant</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
