<div id="wrapper">
    <!--
    <div class="col-lg-2 col-sm-3 sidebar">
        <div class="text-center eva-dash-logo">
            <img src="images/eva-logo.png"/>

            <img src={{user.avatar}} class="user-avatar">
            <h2>Welcome <small>{{user.firstname}}</small></h2>
        </div>
        <ul class="nav nav-sidebar">
            <li><a>Overview</a></li>
            <li><a>Challenges</a></li>
            <li><a>Admin tools</a></li>
        </ul>
    </div>
    -->


    <!-- CONTENT STARTS HERE -->
    <div id="main">
        <!-- PROGRESSBAR -->
        <div id="progressbar">
            <div>
                <h3>Progress</h3>

                <div>
                    <!-- Outer Progressbar-->
                    <div id="innerbar">
                        <!-- Inner Progressbar-->
                    </div>
                </div>
            </div>
        </div>

        <!-- CHALLENGES -->
        <div class="banner">
            <h3 ng-hide="hasAcceptedChallenge" class="challenge-title">{{translation.getCurrentlySelected().choose_challenge}}</h3>

            <h3 ng-show="hasAcceptedChallenge" class="challenge-title">Jouw actieve uitdaging</h3>

            <div ng-hide="hasAcceptedChallenge" id="challenges">
                <article class="challenge box-border"
                         ng-repeat="challenge in challenges track by $index"
                         ng-click="showSelectedChallengeDetails($index)" data-toggle="modal"
                         data-target="#challengeDetailsModal">
                    <div ng-style="{'background-image':'url(' + challenge.imageUrl + ')', 'background-size': 'cover'}">
                        <p>{{challenge.title}}</p>
                    </div>
                </article>
            </div>
            <div ng-show="hasAcceptedChallenge" id="challenges">
                <article class="challenge box-border" style="max-width: 45%;"
                         data-toggle="modal" data-target="#challengeDetailsModal"
                         ng-click="showAcceptedChallengeDetails()">
                    <div ng-style="{'background-image':'url(' + acceptedChallenge.imageUrl + ')'}">
                        <p>{{acceptedChallenge.title}}</p>
                    </div>
                </article>
            </div>
            <div class="challenges">
                <div class="modal fade" id="challengeDetailsModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modalImage" style="text-align: center;"
                                     ng-style="{'background-image':'url(' + detailedChallenge.imageUrl + ')'}">
                                    <h2 class="modalText"
                                        style="padding-top: 100px; color: #fff; text-shadow: 0px 0px 4px #000;">
                                        {{detailedChallenge.title}}</h2>
                                </div>
                                <p style="margin-top: 10px;">{{detailedChallenge.description}}</p>
                            </div>
                            <div class="center-text modal-footer" ng-hide="hasAcceptedChallenge">
                                <button type="button" class="btn btn-default eva-submit-wit"
                                        ng-click="acceptChallenge()" data-dismiss="modal">Ga de uitdaging aan!
                                </button>
                            </div>

                            <div class="center-text modal-footer" ng-show="hasAcceptedChallenge">
                                <button type="button" class="btn btn-default eva-submit-wit"
                                        ng-click="completeChallenge()" data-dismiss="modal">Voltooi de uitdaging
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- STATS -->
            <div class="banner-wrap">
                <!-- ALL ACHIEVEMENTS -->
                <div id="achievements">
                    <div class="challenge-title">All Achievements</div>

                    <div id="achievement-box" >

                        <!-- ACHIEVEMENT 1 -->
                        <div class="achievement box-border" ng-repeat="achievement in achievements track by $index">
                            <div ng-show="achievement.score == 1" class="badge badge-easy"></div>
                            <div ng-show="achievement.score > 1 && achievement.score < 6" class="badge badge-medium"></div>
                            <div ng-show="achievement.score > 6 && achievement.score < 17" class="badge badge-hard"></div>
                            <div ng-show="achievement.score > 17" class="badge badge-expert"></div>
                            <div class="achievement-image temp-pompoensoep">
                                <h5>{{achievement.name}}</h5>
                                <p>
                                    {{achievement.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>