<div id="wrapper">
    <!--
    <div class="col-lg-2 col-sm-3 sidebar">
        <div class="text-center eva-dash-logo">
            <img src="images/eva-logo.png"/>

            <img src={{user.avatar}} class="user-avatar">
            <h2>Welcome <small>{{user.firstname}}</small></h2>
        </div>
        <ul class="nav nav-sidebar">
            <li><a>Overview</a></li>
            <li><a>Challenges</a></li>
            <li><a>Admin tools</a></li>
        </ul>
    </div>
    -->


    <!-- CONTENT STARTS HERE -->
    <div id="main">
        <!-- PROGRESSBAR -->
        <div id="progressbar">
            <div>
                <h3>Progress</h3>
                <div> <!-- Outer Progressbar-->
                    <div><!-- Inner Progressbar-->
                    </div>
                </div>
            </div>
        </div>

        <!-- CHALLENGES -->
        <div class="banner">
            <h3 class="challenge-title">Kies een uitdaging</h3>
            <div id="challenges">
                <article class="challenge box-border" ng-repeat="challenge in challenges track by $index" ng-click="challengeClicked($index)" data-toggle="modal" data-target="#myModal">
                    <div ng-style="{'background-image':'url(images/challenges/{{challenge.imageUrl}})', 'background-size': 'cover'}">
                        <p>{{challenge.title}}</p>
                    </div>
                </article>
            </div>
            <div class="challenges">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modalImage" style="text-align: center;" ng-style="{'background-image':'url(images/challenges/' + detailedChallenge.imageUrl + ')'}">
                                    <h2 class="modalText" style="padding-top: 100px; color: #fff; text-shadow: 0px 0px 4px #000;">{{detailedChallenge.title}}</h2>
                                </div>
                                <p style="margin-top: 10px;">{{detailedChallenge.description}}</p>
                            </div>
                            <div class="center-text modal-footer">
                                <button type="button" class="btn btn-default eva-submit-wit" ng-click="acceptChallenge()">Ga de challenge aan!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- STATS -->
        <div class="banner-wrap">
            <div id="stats">
                <div>
                    <h4>Challenge statistics</h4>
                    <div class="graph"></div>
                    <div class="legend">
                        <ul>
                            <li class="hard">Hard challenge</li>
                            <li class="medium">Medium challenge</li>
                            <li class="easy">Easy challenge</li>
                        </ul>
                    </div>
                </div>

                <div id="latest-achievements">
                    <h4>Latest achievements</h4>

                    <div class="latest-achievement-badge">
                        <div class="badge badge-easy"></div>
                        <div>
                            <h5>Achievement title</h5>
                        </div>
                    </div>

                    <div class="latest-achievement-badge">
                        <div class="badge badge-medium"></div>
                        <div>
                            <h5>Achievement title</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ALL ACHIEVEMENTS -->
        <div id="achievements">
            <h4>All Achievements</h4>
            <div id="achievement-box">

                <!-- ACHIEVEMENT 1 -->
                <div class="achievement box-border">
                    <div class="badge badge-easy"></div>
                    <div class="achievement-image temp-pompoensoep">
                        <h5>Achievement title</h5>
                        <p>Achievement description that is waay to long to see what happens on big descriptions</p>
                    </div>
                </div>

                <!-- ACHIEVEMENT 2 -->
                <div class="achievement box-border">
                    <div class="badge badge-medium"></div>
                    <div class="achievement-image temp-seldersoep">
                        <h5>This achievement title is long enough to reach the edge</h5>
                        <p>Achievement description</p>
                    </div>
                </div>

                <!-- ACHIEVEMENT 3 -->
                <div class="achievement box-border">
                    <div class="badge badge-hard"></div>
                    <div class="achievement-image temp-resto">
                        <h5>Do 3 backflips in succession</h5>
                        <p>Do 3x a backflip and to show of do a 360° noscope headshot at the end</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>