<div id="login-page">
    <div class="bannertext">
        <div class="text-center">
            <img src="images/eva-logo.png" alt="eva logo"/>

            <h2 class="challenge-title">{{translation.getCurrentlySelected().login_button}}</h2>
        </div>
        <form ng-submit="login()">

            <div class="form-content">
                <div class="form-group">
                    <div class="alert-danger loginerror" id="emailwarn"></div>
                    <input type="email" class="form-control input-underline input-lg eva-input" ng-model="user.email"
                           placeholder="{{translation.getCurrentlySelected().login_email}}">
                </div>

                <div class="form-group">
                    <div class="alert-danger loginerror" id="passwordwarn"></div>
                    <input type="password" class="form-control input-underline input-lg eva-input"
                           ng-model="user.password"
                           placeholder="{{translation.getCurrentlySelected().login_password}}">
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-outline btn-lg btn-block eva-submit">
                {{translation.getCurrentlySelected().login_button}}
            </button>

            <h4 class="text-center dl-horizontal"> {{translation.getCurrentlySelected().login_or}} </h4>
            <a id="fblogin" href="" ng-click="facebooklogin()" class="btn btn-block btn-social btn-lg btn-facebook">
                <i class="fa fa-facebook">

                </i>
                {{translation.getCurrentlySelected().login_facebook_login}}
            </a>
        </form>
        <span class="col-lg-12">
            <a class="col-lg-8" id="register" href="" ng-click="register()">{{translation.getCurrentlySelected().create_account}}</a>
            <span class="col-lg-1">
                <img ng-click="translation.selectEnglish()" src="images/resources/gb.png"
                     style="cursor:pointer">
            </span>

            <span class="col-lg-1">
                <img ng-click="translation.selectDutch()" src="images/resources/be.png"
                     style="cursor:pointer">
            </span>

            <span class="col-lg-1">
                <img ng-click="translation.selectFrench()" src="images/resources/fr.png"
                     style="cursor:pointer">
            </span>
        </span>
    </div>

</div>