<div class="register-page" ng-controller="RegisterCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 container-fluid">
            <div class="text-center">
                <img src="images/eva-logo.png" alt="eva logo"/>

                <h1 class="artistamp">Registreer</h1>
            </div>
            <form class="form-group" name="registerForm">
                <div class="form-group">
                    <input type="email" class="form-control eva-input" placeholder="E-mailadres" name="email" required ng-model="user.email"/>
                    <tt>registerForm.input.$valid = {{registerForm.email.$valid}}</tt><br/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control eva-input" placeholder="Wachtwoord" name="password" ng-model="user.password"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control eva-input" placeholder="Herhaal wachtwoord" name="repeatpassword" ng-model="user.repeatPassword"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control eva-input" placeholder="Voornaam"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control eva-input" placeholder="Achternaam"/>
                </div>

                <div class="form-group">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn col-md-6 form-control eva-input"
                               ng-class="{'radio-active':selectedTab === 'male'}" ng-click="selectedTab = 'male'">
                            <input type="radio" name="gender" id="male" value="male"/> Man
                        </label>
                        <label class="btn col-md-6 form-control eva-input no-left-border"
                               ng-class="{'radio-active':selectedTab === 'female'}" ng-click="selectedTab = 'female'">
                            <input type="radio" name="gender" value="female" id="female"/> Vrouw
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control eva-input">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-default form-control eva-submit" type="submit" ng-disabled="(!registerForm.email.$valid && validatePassword())" >Registreer</button>
                </div>
            </form>
        </div>
    </div>
</div>