<div class="register-page" ng-controller="RegisterCtrl">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 container-fluid">
            <div class="text-center">
                <img src="images/eva-logo.png" alt="eva logo"/>

                <h2 class="logintitle">Registreer</h2>
            </div>
            <form class="form-group" name="registerForm">
                <div class="form-group">
                    <input type="email" class="form-control eva-input has-error" placeholder="E-mailadres"
                           name="email" ng-focus="showHelpMail = true" ng-blur="showHelpMail = false"
                           required
                           ng-model="user.email"/>
                    <div class="alert alert-info" ng-hide="(!showHelpMail || registerForm.email.$valid)">
                        Een e-mailadres ziet er zo uit: voorbeeld@mail.be
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control eva-input" placeholder="Wachtwoord" name="password" ng-focus="showHelpPassword = true" ng-blur="showHelpPassword = false" required
                           ng-model="user.password" ng-minlength="7" ng-maxlength="128"/>
                    <div class="alert alert-info" ng-hide="(!showHelpPassword || registerForm.password.$valid)">
                        Een wachtwoord is minstens 7 karakters en maximum 128.
                    </div>
                    <!--<div ng-repeat="error in registerForm.password.$error" class="alert alert-danger">
                            Too short
                    </div>
                    <pre class="alert alert-danger">registerForm.password.$error = {{ registerForm.password.$error | json }}</pre>
                    <div ng-messages="registerForm.password.$error" style="color:maroon" role="alert">
                        <div ng-message="required">You did not enter a field</div>
                        <div ng-message="minlength">Your field is too short</div>
                        <div ng-message="maxlength">Your field is too long</div>
                    </div>-->
                </div>
                <div class="form-group">
                    <input type="password" class="form-control eva-input" placeholder="Herhaal wachtwoord"
                           name="repeatpassword" ng-model="user.repeatPassword" ng-focus="showHelpRepeatPassword = true" ng-blur="showHelpRepeatPassword = false"/>
                    <div class="alert alert-info" ng-hide="(!showHelpRepeatPassword || validPassword())">
                        Herhaal uw wachtwoord.
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control eva-input" placeholder="Voornaam" ng-model="user.firstName" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control eva-input" placeholder="Achternaam" ng-model="user.lastName" />
                </div>

                <div class="form-group">
                    <div class="btn-group btn-group-justified" data-toggle="buttons">

                        <label class="btn col-md-6 form-control eva-input"
                               ng-class="{'radio-active':selectedTab === 'male'}" ng-click="selectedTab = 'male'">
                            <input type="radio" name="gender" id="male" value="male"/> Man
                        </label>
                        <label class="btn col-md-6 form-control eva-input no-left-border"
                               ng-class="{'radio-active':selectedTab === 'female'}" ng-click="selectedTab = 'female'">
                            <input type="radio" name="gender" value="female" id="female"/> Vrouw
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control eva-input" name="select" required ng-model="user.grade" ng-options="obj.text for obj in values track by obj.val">

                    </select>
                </div>

                <div class="form-group">

                    <!--
                    <button class="btn btn-default form-control eva-submit" type="submit"
                            ng-disabled="!(registerForm.email.$valid && validPassword())">Registreer
                    </button>-->
                    <button class="btn btn-default form-control eva-submit" type="submit"
                            ng-disabled="!(registerForm.email.$valid && validPassword() && validForm())" ng-click="register()">
                        Registreer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>