<div class="register-page" ng-controller="RegisterCtrl">

    <div class="col-lg-4 col-md-4 col-md-offset-4 col-lg-offset-4">
        <div class="text-center">
            <img src="images/eva-logo.png" alt="eva logo"/>

                <h3 class="logintitle">
                    {{translation.getCurrentlySelected().register}}
                    <div>
                <span class="col-lg-2 col-lg-offset-3">
                    <img ng-click="translation.selectEnglish()" src="images/resources/gb.png" style="cursor:pointer">
                </span>

                <span class="col-lg-2">
                    <img ng-click="translation.selectDutch()" src="images/resources/be.png" style="cursor:pointer">
                </span>

                <span class="col-lg-2">
                    <img ng-click="translation.selectFrench()" src="images/resources/fr.png" style="cursor:pointer">
                </span>
                    </div>
                </h3>


        </div>
        <form class="form-group" name="registerForm">
            <div class="form-group">
                <input type="email" class="form-control eva-input has-error"
                       placeholder="{{translation.getCurrentlySelected().login_email}}"
                       name="email" ng-focus="showHelpMail = true" ng-blur="showHelpMail = false"
                       required
                       ng-model="user.email"/>

                <div class="alert alert-info" ng-hide="(!showHelpMail || registerForm.email.$valid)">
                    {{translation.getCurrentlySelected().register_hint_email}}
                </div>
            </div>
            <div class="form-group" ng-hide="facebook">
                <input type="password" class="form-control eva-input"
                       placeholder="{{translation.getCurrentlySelected().login_password}}"
                       name="password"
                       ng-focus="showHelpPassword = true" ng-blur="showHelpPassword = false" required
                       ng-model="user.password" ng-minlength="7" ng-maxlength="128"/>

                <div class="alert alert-info" ng-hide="(!showHelpPassword || registerForm.password.$valid)">
                    {{translation.getCurrentlySelected().register_hint_password}}
                </div>
                <!--<div ng-repeat="error in registerForm.password.$error" class="alert alert-danger">
                        Too short
                </div>
                <pre class="alert alert-danger">registerForm.password.$error = {{ registerForm.password.$error | json }}</pre>
                <div ng-messages="registerForm.password.$error" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="minlength">Your field is too short</div>
                    <div ng-message="maxlength">Your field is too long</div>
                </div>-->
            </div>
            <div class="form-group" ng-hide="facebook">
                <input type="password" class="form-control eva-input"
                       placeholder="{{translation.getCurrentlySelected().register_repeat_password}}"
                       name="repeatpassword" ng-model="user.repeatPassword" ng-focus="showHelpRepeatPassword = true"
                       ng-blur="showHelpRepeatPassword = false"/>

                <div class="alert alert-info" ng-hide="(!showHelpRepeatPassword || validPassword())">
                    {{translation.getCurrentlySelected().register_repeat_password}}
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control eva-input"
                       placeholder="{{translation.getCurrentlySelected().register_first_name}}"
                       ng-model="user.firstName"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control eva-input"
                       placeholder="{{translation.getCurrentlySelected().register_name}}" ng-model="user.lastName"/>
            </div>

            <div class="form-group">
                <div class="btn-group btn-group-justified" data-toggle="buttons">

                    <label class="btn col-md-6 form-control eva-input"
                           ng-class="{'radio-active':selectedTab === 'male'}" ng-click="selectedTab = 'male'">
                        <input type="radio" name="gender" id="male" value="male"/>
                        {{translation.getCurrentlySelected().register_sex_male}}
                    </label>
                    <label class="btn col-md-6 form-control eva-input no-left-border"
                           ng-class="{'radio-active':selectedTab === 'female'}" ng-click="selectedTab = 'female'">
                        <input type="radio" name="gender" value="female" id="female"/>
                        {{translation.getCurrentlySelected().register_sex_female}}
                    </label>
                </div>
            </div>
            <div class="form-group">
               <!-- <select class="form-control eva-input" name="select" required ng-model="user.grade"
                        ng-options="obj.text for obj in values track by obj.val">

                </select>-->
                <select class="form-control eva-input" name="select" required ng-model="user.grade"
                        ng-options="grades.getTranslation(obj.val) for obj in values track by obj.val">
                </select>
            </div>

            <div class="form-group" ng-hide="facebook">
                <button class="btn btn-default form-control eva-submit" type="submit"
                        ng-disabled="!(registerForm.email.$valid && validPassword() && validForm())"
                        ng-click="register()">
                    {{translation.getCurrentlySelected().register}}
                </button>
            </div>
            <div class="form-group" ng-show="facebook">
                <button class="btn btn-default form-control eva-submit" type="submit"
                        ng-disabled="!(registerForm.email.$valid && validForm())"
                        ng-click="registerFb()">
                    {{translation.getCurrentlySelected().register}}
                </button>
            </div>
        </form>
    </div>

</div>