/* EVA FONTS */

@font-face {
  font-family: 'Artistamp';
  src: url('../fonts/artistampmedium-webfont.eot');
  src: url('../fonts/artistampmedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/artistampmedium-webfont.woff2') format('woff2'),
  url('../fonts/artistampmedium-webfont.woff') format('woff'),
  url('../fonts/artistampmedium-webfont.ttf') format('truetype'),
  url('../fonts/artistampmedium-webfont.svg#artistamp_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Mathleteskinny';
  src: url('../fonts/mathlete-skinny-webfont.eot');
  src: url('../fonts/mathlete-skinny-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/mathlete-skinny-webfont.woff2') format('woff2'),
  url('../fonts/mathlete-skinny-webfont.woff') format('woff'),
  url('../fonts/mathlete-skinny-webfont.ttf') format('truetype'),
  url('../fonts/mathlete-skinny-webfont.svg#mathleteskinny') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Museo100_italic';
  src: url('../fonts/museo100-italic-webfont.eot');
  src: url('../fonts/museo100-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo100-italic-webfont.woff2') format('woff2'),
  url('../fonts/museo100-italic-webfont.woff') format('woff'),
  url('../fonts/museo100-italic-webfont.ttf') format('truetype'),
  url('../fonts/museo100-italic-webfont.svg#museo100_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Museo100';
  src: url('../fonts/museo100-regular-webfont.eot');
  src: url('../fonts/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo100-regular-webfont.woff2') format('woff2'),
  url('../fonts/museo100-regular-webfont.woff') format('woff'),
  url('../fonts/museo100-regular-webfont.ttf') format('truetype'),
  url('../fonts/museo100-regular-webfont.svg#museo100') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Museo300';
  src: url('../fonts/museo300-regular-webfont.eot');
  src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo300-regular-webfont.woff2') format('woff2'),
  url('../fonts/museo300-regular-webfont.woff') format('woff'),
  url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
  url('../fonts/museo300-regular-webfont.svg#museo300') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Museo500_italic';
  src: url('../fonts/museo500-italic-webfont.eot');
  src: url('../fonts/museo500-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo500-italic-webfont.woff2') format('woff2'),
  url('../fonts/museo500-italic-webfont.woff') format('woff'),
  url('../fonts/museo500-italic-webfont.ttf') format('truetype'),
  url('../fonts/museo500-italic-webfont.svg#museo500_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Museo500';
  src: url('../fonts/museo500-regular-webfont.eot');
  src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo500-regular-webfont.woff2') format('woff2'),
  url('../fonts/museo500-regular-webfont.woff') format('woff'),
  url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
  url('../fonts/museo500-regular-webfont.svg#museo500') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Museo900';
  src: url('../fonts/museo900-regular-webfont.eot');
  src: url('../fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/museo900-regular-webfont.woff2') format('woff2'),
  url('../fonts/museo900-regular-webfont.woff') format('woff'),
  url('../fonts/museo900-regular-webfont.ttf') format('truetype'),
  url('../fonts/museo900-regular-webfont.svg#museo900') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* GEORGIA */

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.ttf');
}

@font-face {
  font-family: 'Georgia_bold';
  src: url('../fonts/Georgia_bold.ttf');
}

@font-face {
  font-family: 'Georgia_italic';
  src: url('../fonts/Georgia_italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia_bold_italic';
  src: url('../fonts/Georgia_bold_italic.ttf');
  font-weight: normal;
  font-style: normal;
}

/* MYRIADPRO */

@font-face {
  font-family: 'Myriadpro';
  src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: 'Myriadpro_bold';
  src: url('../fonts/MyriadPro-BoldSemiExt.otf');
}