@font-face {
    font-family: "museo";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Museo300-Regular.otf");
}

@font-face {
    font-family: "museo";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Museo700-Regular.ttf");
}

@font-face {
    font-family: "artistamp";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/artistampmedium-webfont.ttf");
}

* {
    border-radius: 0 !important;
}

#welcome {
    margin-left: 25px;
}

#login-page form {

    margin: 20px 0 20px 0;
}

#login-page {
    width: 100%;
}

.logintitle {
    font-family: museo;
    margin-top: 50px;
    margin-bottom: 50px;
}

.disable-padding-right {
    padding-right: 0;
}

.disable-padding-left {
    padding-left: 0;
}

.margin-left {
    margin-left: 5px;
}
.center-text {
    text-align: center;
}

.loginerror {
    padding-left: 15px;
    font-size: 120%;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #449d44;
    border-right: 1px solid #eee;
    color: white;
}

.sidebar small {
    color: whitesmoke;
}

.nav > li > a {
    color: #fff;
    padding-left: 40px;
    font-size: 120%;
    cursor: hand;
}

.nav > li > a:hover {
    background-color: #3B903B;
}

.nav > li > a:active {
    background-color: #3B903B;
}

.user-avatar {
    margin-top: 25px;
}

.eva-input {
    height: 43px;
    font-family: "museo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    box-shadow: none;
    color: #2f3030;
    border: solid 2px #2f3030;
    transition: border-color 0.15s linear, color 0.15s linear;
    transition: background-color 0.15s linear, color 0.15s linear;
}

.ng-scope {
    width: 100%;
}

.eva-input:focus {
    border: 2px solid #A4B239;
    outline: medium none;
}

.no-left-border {
    border-left: 0px;
}

.radio-active {
    background: #a4b239;
    color: white;
}

label.eva-input:hover {
    background: #a4b239;
    color: white;
}

.eva-submit {
    height: 43px;
    padding: 10px;
    display: inline-block;
    font-family: "museo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    border: solid 2px #808b2d;
    background: #a4b239;
    transition: background-color 0.15s linear, border-color 0.15s linear;
}

.eva-submit:hover {
    background: #555757 none repeat scroll 0% 0%;
    border-color: #2F3030;
    color: #fff;
}

.eva-submit[disabled] {
    opacity: 0.5;
    border: solid 2px #808b2d;
    background: #a4b239;
}

.eva-submit[disabled]:hover {
    opacity: 0.5;
    border: solid 2px #808b2d;
    background: #a4b239;
}

.eva-submit-wit {
    background: rgb(255, 255, 255);
    transition: background-color 0.15s linear;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 15px;
    border-width: 2px;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
}

.artistamp {
    font-family: artistamp;
    padding-bottom: 1em;
}

.challenge {
    text-align: center;
    height: 200px;
    background-size: contain;
    display: block;
}

.modalImage {
    display: block;
    background-size: cover;
    min-height: 200px;
    text-align: center;
}

.modalText {
    line-height: 20%;
}

.logout {
    cursor: hand;
    left: 280px;
    top: 5px;
    color: #FFF;
    font-size: 20px;
}

#achievements #achievement-box .achievement .achievement-image.temp-pompoensoep {
    background: url("http://www.evavzw.be/sites/all/themes/wieni-subtheme/img/bg_pattern_chalkboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;

}
.fb-like {
    text-align: center;
    height: 20px;
    margin-top: 10px;
    max-height: 20px;
}
.btnz {
    display: block;
    float: right;
    padding: 8px 15px;
    border:none;
    background-color: #ececec;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
    text-align: right;
    margin-bottom: 15px;
}

.btnz:hover {
    color: #efefef;
}
.facebook {
    background-color: #3b5998;
}
.btnz2 {
    display: block;
    float: right;
    padding: 5px 10px;
    border:none;
    background-color: #3b5998;
    text-decoration: none;
    font-size: 12px;
    color: #FFF;
    left: 0px;
    text-align: right;
    margin-bottom: 15px;
}
.btnz2:hover {
    color: #efefef;
}
.menu{
    display: none;
}

@media (max-device-width: 480px) {
    #nav{
        display: none;
        margin-left: -40px;
    }
    #wrapper #nav {
        width: 100%
    }
    md-sidenav  {
        width: 100%;
        max-width: 100%;
    }
    .menu {
        display: block;
        font-size: 30px;
        color: white;
        margin: 9px 5px;
        cursor: hand;
    }
    #wrapper #main{
        width: calc(100% + 40px);
        margin-left: -40px;
    }
    #progressbar div h3 {
        margin-left: 35px;
    }
    #progressbar div div {
        margin-left: 35px;
        width: calc(100% - 35px);
    }
    #wrapper #nav nav ul li a {
        font-size: 25px;
        padding: 15px 0 15px 75px;
    }
    #welcome {
        margin: 0;
        text-align: center;
    }
    .logout {
        left: calc(100% - 60px);
    }
    #challenges {
        display: block;
    }
    #challenges article {
        max-width: calc(100% - 5px);
        margin-right: 5px;
    }
    #achievements #achievement-box {
        display: block;
    }
    #achievements #achievement-box .achievement {
        max-width: calc(100% - 5px);
        width: 100%;
        margin-right: 5px;
    }
    #achievements #achievement-box .achievement .achievement-image h5 {
        padding: 0px 0px 5px 10px;
    }
    #achievements #achievement-box .achievement .achievement-image p {
        font-size: 12px;
        padding: 5px;
    }
    .margin-left {
        margin-left: 0px;
    }
    .bannertext {
        margin: 3% 15px;
    }
}